USE [master]
GO
/****** Object:  Database [C:\USERS\KELVIN\SOURCE\REPOS\WEBAPPCORE\WEBAPPMAINCORE\APP_DATA\DATABASEDUMMY.MDF]    Script Date: 10/3/2019 7:08:44 PM ******/
CREATE DATABASE [C:\USERS\KELVIN\SOURCE\REPOS\WEBAPPCORE\WEBAPPMAINCORE\APP_DATA\DATABASEDUMMY.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DatabaseDummy', FILENAME = N'C:\Users\Kelvin\Source\Repos\WebAppCore\WebAppMAINCORE\App_Data\DatabaseDummy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DatabaseDummy_log', FILENAME = N'C:\Users\Kelvin\Source\Repos\WebAppCore\WebAppMAINCORE\App_Data\DatabaseDummy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\KELVIN\SOURCE\REPOS\WEBAPPCORE\WEBAPPMAINCORE\APP_DATA\DATABASEDUMMY.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\KELVIN\SOURCE\REPOS\WEBAPPCORE\WEBAPPMAINCORE\APP_DATA\DATABASEDUMMY.MDF]
GO
USE [C:\USERS\KELVIN\SOURCE\REPOS\WEBAPPCORE\WEBAPPMAINCORE\APP_DATA\DATABASEDUMMY.MDF]
GO
/****** Object:  Table [dbo].[accountTable]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accountTable](
	[IDENTIFIER] [nvarchar](16) NOT NULL,
	[ACCOUNT_NAME] [nvarchar](128) NOT NULL,
	[ACCOUNT_TYPE] [nvarchar](64) NOT NULL,
	[ACCOUNT_STATE] [nvarchar](64) NOT NULL,
	[BALANCE] [decimal](18, 0) NOT NULL,
	[OPENDATE] [datetime] NOT NULL,
 CONSTRAINT [PK_accountTable] PRIMARY KEY CLUSTERED 
(
	[OPENDATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientTable]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientTable](
	[IDENTIFIER] [nvarchar](16) NOT NULL,
	[NAME] [nvarchar](128) NOT NULL,
	[LAST] [nvarchar](128) NOT NULL,
	[ACCOUNTS] [int] NOT NULL,
	[PASSWORD] [nvarchar](256) NOT NULL,
	[PIN] [nvarchar](8) NOT NULL,
	[DIRECTION] [nvarchar](128) NOT NULL,
	[EMAIL] [nvarchar](64) NOT NULL,
	[STATE] [nvarchar](16) NOT NULL,
	[REGDATE] [datetime] NOT NULL,
	[LOGDATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDENTIFIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[clientTable] ([IDENTIFIER], [NAME], [LAST], [ACCOUNTS], [PASSWORD], [PIN], [DIRECTION], [EMAIL], [STATE], [REGDATE], [LOGDATE]) VALUES (N'asd', N'asd', N'asd', 0, N'asd', N'asd', N'asd', N'asd', N'Suscrito', CAST(N'2019-10-03T18:31:50.010' AS DateTime), NULL)
ALTER TABLE [dbo].[accountTable] ADD  DEFAULT ('Activa') FOR [ACCOUNT_STATE]
GO
ALTER TABLE [dbo].[accountTable] ADD  DEFAULT ((0.0)) FOR [BALANCE]
GO
ALTER TABLE [dbo].[accountTable] ADD  DEFAULT (getdate()) FOR [OPENDATE]
GO
ALTER TABLE [dbo].[clientTable] ADD  DEFAULT ((0)) FOR [ACCOUNTS]
GO
ALTER TABLE [dbo].[clientTable] ADD  DEFAULT ('Suscrito') FOR [STATE]
GO
ALTER TABLE [dbo].[clientTable] ADD  CONSTRAINT [DF_clientTable_REGDATE]  DEFAULT (getdate()) FOR [REGDATE]
GO
ALTER TABLE [dbo].[accountTable]  WITH CHECK ADD FOREIGN KEY([IDENTIFIER])
REFERENCES [dbo].[clientTable] ([IDENTIFIER])
GO
/****** Object:  StoredProcedure [dbo].[DepositoCuenta_Normal]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DepositoCuenta_Normal]
(
	@BALANCE decimal(18, 0),
	@Cedula nvarchar(16),
	@AccountName nvarchar(128)
)
AS
	SET NOCOUNT OFF;
UPDATE       accountTable
SET                BALANCE = @BALANCE
WHERE        (IDENTIFIER = @Cedula) AND (ACCOUNT_NAME = @AccountName)
GO
/****** Object:  StoredProcedure [dbo].[GetDataByCedula_Account]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataByCedula_Account]
(
	@Cedula nvarchar(16)
)
AS
	SET NOCOUNT ON;
SELECT        IDENTIFIER, ACCOUNT_NAME, ACCOUNT_TYPE, ACCOUNT_STATE, BALANCE, OPENDATE
FROM            accountTable
WHERE        (IDENTIFIER = @Cedula)
GO
/****** Object:  StoredProcedure [dbo].[GetDataByCedula_Client]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataByCedula_Client]
(
	@Cedula nvarchar(16)
)
AS
	SET NOCOUNT ON;
SELECT        IDENTIFIER, NAME, LAST, ACCOUNTS, PASSWORD, PIN, DIRECTION, EMAIL, STATE, REGDATE, LOGDATE
FROM            clientTable
WHERE        (IDENTIFIER = @Cedula)
GO
/****** Object:  StoredProcedure [dbo].[GetDataByNoArg_AllClient]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetDataByNoArg_AllClient]
AS
	SET NOCOUNT ON;
SELECT        IDENTIFIER, NAME, LAST, ACCOUNTS, PASSWORD, PIN, DIRECTION, EMAIL, STATE, REGDATE, LOGDATE
FROM            clientTable
GO
/****** Object:  StoredProcedure [dbo].[HabilitarCuentaByCedula]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[HabilitarCuentaByCedula]
(
	@ACCOUNT_STATE nvarchar(64),
	@Cedula nvarchar(16),
	@AccountName nvarchar(128),
	@AccountType nvarchar(64)
)
AS
	SET NOCOUNT OFF;
UPDATE       accountTable
SET                ACCOUNT_STATE = @ACCOUNT_STATE
WHERE        (IDENTIFIER = @Cedula) AND (ACCOUNT_NAME = @AccountName) AND (ACCOUNT_TYPE = @AccountType)
GO
/****** Object:  StoredProcedure [dbo].[InsertAccountNuevo]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAccountNuevo]
(
	@IDENTIFIER nvarchar(16),
	@ACCOUNT_NAME nvarchar(128),
	@ACCOUNT_TYPE nvarchar(64)
)
AS
	SET NOCOUNT OFF;
INSERT INTO accountTable
                         (IDENTIFIER, ACCOUNT_NAME, ACCOUNT_TYPE)
VALUES        (@IDENTIFIER,@ACCOUNT_NAME,@ACCOUNT_TYPE)
GO
/****** Object:  StoredProcedure [dbo].[ProveAcc_HasFunds]    Script Date: 10/3/2019 7:08:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProveAcc_HasFunds]
(
	@Cedula nvarchar(16),
	@AccountName nvarchar(128)
)
AS
	SET NOCOUNT ON;
SELECT        BALANCE
FROM            accountTable
WHERE        (IDENTIFIER = @Cedula) AND (ACCOUNT_NAME = @AccountName)
GO
USE [master]
GO
